body {
  padding-top: 70px;
}
.btn-link.btn-danger {
  color: red;
}


.modal-dialog {
  width: 100%;
  height: 100%;
  padding: 0 100px 0 0;
  margin: 0;
}

.modal-content {
  height: 100%;
  border-radius: 0;
  overflow: auto;
}

.modal.fade .modal-dialog {
  left: 100%;
  transition: opacity 1s linear, left 0.1s ease-out;
}

.modal.fade.in .modal-dialog {
  left: 100px;
}​

.exports, .config {
  margin-top: 20px;
  display: inline-block;
}
