{{#if data.filters}}

<form class="form-inline">

{{#each data.filters.fields}}

{{#compare this.type 'radio'}}
<div class="btn-group" data-toggle="buttons">
{{#each this.options}}
  <label class="btn btn-default btn-sm {{#if @first}}active{{/if}}">
    <input type="radio" name="options" id="option1" autocomplete="off" {{#if @first}}checked{{/if}}> {{ this }}
  </label>
{{/each}}
</div>
{{/compare}}


{{#compare this.type 'select'}}
<select name="" id="input" class="form-control input-sm">
  {{#each this.options}}
  <option value="">{{ this }}</option>
  {{/each}}
</select>
{{/compare}}


{{#compare this.type 'text'}}
<div class="form-group">
  <input type="text" class="form-control input-sm" id="" placeholder="{{ this.label }}">
</div>
{{/compare}}

{{/each}}

<div class="btn-group">
  <button type="button" class="btn btn-default btn-sm">{{data.filters.title}}</button>
  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
  {{#each data.filters.menu}}
  {{#compare this '!=' '--'}}
  <li><a href="">{{ this }}</a></li>
  {{/compare}}
  {{#compare this '--'}}
  <li class="divider"></li>
  {{/compare}}
  {{/each}}
  </ul>
</div>
</form>

{{/if}}
